In [1]:
import numpy as np
import pandas as pd

train_df = pd.read_csv("C:/Users/gram/Desktop/프로젝트2/train.csv")
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36425 entries, 0 to 36424
Data columns (total 78 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       36425 non-null  int64
 1   QaA         36425 non-null  float64
 2   QaE         36425 non-null  int64
 3   QbA         36425 non-null  float64
 4   QbE         36425 non-null  int64
 5   QcA         36425 non-null  float64
 6   QcE         36425 non-null  int64
 7   QdA         36425 non-null  float64
 8   QdE         36425 non-null  int64
 9   QeA         36425 non-null  float64
 10  QeE         36425 non-null  int64
 11  QfA         36425 non-null  float64
 12  QfE         36425 non-null  int64
 13  QgA         36425 non-null  float64
 14  QgE         36425 non-null  int64
 15  QhA         36425 non-null  float64
 16  QhE         36425 non-null  int64
 17  QiA         36425 non-null  float64
 18  QiE         36425 non-null  int64
 19  QjA         36425 non-null  float64
 20  QjE         36425 non-null  int64
 21  QkA         36425 non-null  float64
 22  QkE         36425 non-null  int64
 23  QlA         36425 non-null  float64
 24  QlE         36425 non-null  int64
 25  QmA         36425 non-null  float64
 26  QmE         36425 non-null  int64
 27  QnA         36425 non-null  float64
 28  QnE         36425 non-null  int64
 29  QoA         36425 non-null  float64
 30  QoE         36425 non-null  int64
 31  QpA         36425 non-null  float64
 32  QpE         36425 non-null  int64
 33  QqA         36425 non-null  float64
 34  QqE         36425 non-null  int64
 35  QrA         36425 non-null  float64
 36  QrE         36425 non-null  int64
 37  QsA         36425 non-null  float64
 38  QsE         36425 non-null  int64
 39  QtA         36425 non-null  float64
 40  QtE         36425 non-null  int64
 41  age_group   36425 non-null  object
 42  education   36425 non-null  int64
 43  engnat      36425 non-null  int64
 44  familysize  36425 non-null  int64
 45  gender      36425 non-null  object
 46  hand        36425 non-null  int64
 47  married     36425 non-null  int64
 48  race        36425 non-null  object
 49  religion    36425 non-null  object
 50  tp01        36425 non-null  int64
 51  tp02        36425 non-null  int64
 52  tp03        36425 non-null  int64
 53  tp04        36425 non-null  int64
 54  tp05        36425 non-null  int64
 55  tp06        36425 non-null  int64
 56  tp07        36425 non-null  int64
 57  tp08        36425 non-null  int64
 58  tp09        36425 non-null  int64
 59  tp10        36425 non-null  int64
 60  urban       36425 non-null  int64
 61  voted       36425 non-null  int64
 62  wf_01       36425 non-null  int64
 63  wf_02       36425 non-null  int64
 64  wf_03       36425 non-null  int64
 65  wr_01       36425 non-null  int64
 66  wr_02       36425 non-null  int64
 67  wr_03       36425 non-null  int64
 68  wr_04       36425 non-null  int64
 69  wr_05       36425 non-null  int64
 70  wr_06       36425 non-null  int64
 71  wr_07       36425 non-null  int64
 72  wr_08       36425 non-null  int64
 73  wr_09       36425 non-null  int64
 74  wr_10       36425 non-null  int64
 75  wr_11       36425 non-null  int64
 76  wr_12       36425 non-null  int64
 77  wr_13       36425 non-null  int64
dtypes: float64(20), int64(54), object(4)
memory usage: 21.7+ MB

In [2]:
train_df.describe()

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
count,36425.000000,36425.000000,3.642500e+04,36425.000000,3.642500e+04,36425.000000,36425.000000,36425.000000,3.642500e+04,36425.000000,...,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000,36425.000000
mean,22740.586520,2.131942,9.392264e+02,2.897598,2.053925e+03,3.661414,1461.583775,1.750748,1.499025e+03,2.320494,...,0.868717,0.895072,0.329087,0.938888,0.971613,0.202663,0.945532,0.393988,0.947536,0.926781
std,13118.110333,1.199763,1.372469e+04,1.568342,1.984665e+04,1.431303,8097.443081,1.046655,1.109992e+04,1.370584,...,0.337715,0.306465,0.469888,0.239539,0.166078,0.401989,0.226942,0.488639,0.222964,0.260499
min,0.000000,1.000000,2.500000e+01,1.000000,2.500000e+01,1.000000,25.000000,1.000000,2.600000e+01,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11403.000000,1.000000,4.040000e+02,1.000000,8.760000e+02,2.000000,651.000000,1.000000,6.810000e+02,1.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
50%,22770.000000,2.000000,5.570000e+02,3.000000,1.220000e+03,4.000000,900.000000,1.000000,9.330000e+02,2.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
75%,34042.000000,3.000000,8.300000e+02,4.000000,1.842000e+03,5.000000,1339.000000,2.000000,1.361000e+03,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,45531.000000,5.000000,2.413960e+06,5.000000,3.232042e+06,5.000000,871557.000000,5.000000,1.552821e+06,5.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [3]:
# 'gender' 레이블 인코딩
from sklearn.preprocessing import LabelEncoder

items = train_df['gender']
encoder = LabelEncoder()
encoder.fit(items)
gender_pre = encoder.transform(items)
print(gender_pre)

[1 1 0 ... 1 0 0]

In [4]:
train_df['gender']= gender_pre 
print(train_df['gender'])

0        1
1        1
2        0
3        1
4        0
        ..
36420    0
36421    1
36422    1
36423    0
36424    0
Name: gender, Length: 36425, dtype: int32

In [5]:
train_df['gender'].describe()

count    36425.000000
mean         0.531970
std          0.498984
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: gender, dtype: float64

In [6]:
train_df['gender'].value_counts()

1    19377
0    17048
Name: gender, dtype: int64

In [7]:
train_df.groupby(['gender', 'voted'])['voted'].count()

gender  voted
0       0         9159
        1         7889
1       0        10759
        1         8618
Name: voted, dtype: int64

In [8]:
voted_counts = train_df['voted'].value_counts()
# 투표 Yes(1) No(0)
voted_counts

0    19918
1    16507
Name: voted, dtype: int64

In [9]:
train_df.groupby(['education','voted'])['voted'].count()

education  voted
0          0         230
           1         202
1          0        3832
           1         197
2          0        8515
           1        4886
3          0        4918
           1        7345
4          0        2423
           1        3877
Name: voted, dtype: int64

In [10]:
train_df['age_group'].dtypes

dtype('O')

In [11]:
train_df['age_group'][0][:2]

'20'

In [12]:
type(train_df['age_group'][0][:2])

str

In [13]:
age_int = train_df['age_group'][0][:2]
print(age_int)
print(type(int(age_int)))

20
<class 'int'>

In [14]:
for i in range(0, 36425):
    if(int(train_df['age_group'][i][:2])>=10):
        train_df['age_group'][i] = int(train_df['age_group'][i][:2])
    else:
        train_df['age_group'][i] = 70

train_df['age_group']

C:\Users\gram\anaconda3\envs\en\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\gram\anaconda3\envs\en\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

0        20
1        10
2        20
3        10
4        20
         ..
36420    20
36421    10
36422    30
36423    40
36424    50
Name: age_group, Length: 36425, dtype: object

In [15]:
train_df['age_group'] = pd.to_numeric(train_df['age_group'])
train_df['age_group']

0        20
1        10
2        20
3        10
4        20
         ..
36420    20
36421    10
36422    30
36423    40
36424    50
Name: age_group, Length: 36425, dtype: int64

In [16]:
train_df.groupby(['age_group','voted'])['voted'].count()

age_group  voted
10         0        9462
           1        1826
20         0        5371
           1        6000
30         0        2567
           1        3689
40         0        1438
           1        2587
50         0         772
           1        1564
60         0         256
           1         710
70         0          52
           1         131
Name: voted, dtype: int64

In [17]:
# 투표 참여 분류
voted_counts = train_df['voted'].value_counts()
voted_counts

0    19918
1    16507
Name: voted, dtype: int64

In [18]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36425 entries, 0 to 36424
Data columns (total 78 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       36425 non-null  int64
 1   QaA         36425 non-null  float64
 2   QaE         36425 non-null  int64
 3   QbA         36425 non-null  float64
 4   QbE         36425 non-null  int64
 5   QcA         36425 non-null  float64
 6   QcE         36425 non-null  int64
 7   QdA         36425 non-null  float64
 8   QdE         36425 non-null  int64
 9   QeA         36425 non-null  float64
 10  QeE         36425 non-null  int64
 11  QfA         36425 non-null  float64
 12  QfE         36425 non-null  int64
 13  QgA         36425 non-null  float64
 14  QgE         36425 non-null  int64
 15  QhA         36425 non-null  float64
 16  QhE         36425 non-null  int64
 17  QiA         36425 non-null  float64
 18  QiE         36425 non-null  int64
 19  QjA         36425 non-null  float64
 20  QjE         36425 non-null  int64
 21  QkA         36425 non-null  float64
 22  QkE         36425 non-null  int64
 23  QlA         36425 non-null  float64
 24  QlE         36425 non-null  int64
 25  QmA         36425 non-null  float64
 26  QmE         36425 non-null  int64
 27  QnA         36425 non-null  float64
 28  QnE         36425 non-null  int64
 29  QoA         36425 non-null  float64
 30  QoE         36425 non-null  int64
 31  QpA         36425 non-null  float64
 32  QpE         36425 non-null  int64
 33  QqA         36425 non-null  float64
 34  QqE         36425 non-null  int64
 35  QrA         36425 non-null  float64
 36  QrE         36425 non-null  int64
 37  QsA         36425 non-null  float64
 38  QsE         36425 non-null  int64
 39  QtA         36425 non-null  float64
 40  QtE         36425 non-null  int64
 41  age_group   36425 non-null  int64
 42  education   36425 non-null  int64
 43  engnat      36425 non-null  int64
 44  familysize  36425 non-null  int64
 45  gender      36425 non-null  int32
 46  hand        36425 non-null  int64
 47  married     36425 non-null  int64
 48  race        36425 non-null  object
 49  religion    36425 non-null  object
 50  tp01        36425 non-null  int64
 51  tp02        36425 non-null  int64
 52  tp03        36425 non-null  int64
 53  tp04        36425 non-null  int64
 54  tp05        36425 non-null  int64
 55  tp06        36425 non-null  int64
 56  tp07        36425 non-null  int64
 57  tp08        36425 non-null  int64
 58  tp09        36425 non-null  int64
 59  tp10        36425 non-null  int64
 60  urban       36425 non-null  int64
 61  voted       36425 non-null  int64
 62  wf_01       36425 non-null  int64
 63  wf_02       36425 non-null  int64
 64  wf_03       36425 non-null  int64
 65  wr_01       36425 non-null  int64
 66  wr_02       36425 non-null  int64
 67  wr_03       36425 non-null  int64
 68  wr_04       36425 non-null  int64
 69  wr_05       36425 non-null  int64
 70  wr_06       36425 non-null  int64
 71  wr_07       36425 non-null  int64
 72  wr_08       36425 non-null  int64
 73  wr_09       36425 non-null  int64
 74  wr_10       36425 non-null  int64
 75  wr_11       36425 non-null  int64
 76  wr_12       36425 non-null  int64
 77  wr_13       36425 non-null  int64
dtypes: float64(20), int32(1), int64(55), object(2)
memory usage: 21.5+ MB

In [19]:
# race
vote_race = train_df['race']
vote_race

0        White
1        Asian
2        White
3        Other
4        White
         ...
36420    Black
36421    White
36422    White
36423    White
36424    White
Name: race, Length: 36425, dtype: object

In [20]:
vote_race.value_counts()

White                    25042
Asian                     5466
Other                     3462
Black                     1708
Native American            434
Arab                       272
Indigenous Australian       41
Name: race, dtype: int64

In [21]:
# race 원-핫인코딩
import pandas as pd

df = pd.DataFrame({'race':vote_race})
race_onehot = pd.get_dummies(df)
race_onehot

,race_Arab,race_Asian,race_Black,race_Indigenous Australian,race_Native American,race_Other,race_White
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,0,0,0,0,0,1
3,0,0,0,0,0,1,0
4,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...
36420,0,0,1,0,0,0,0
36421,0,0,0,0,0,0,1
36422,0,0,0,0,0,0,1
36423,0,0,0,0,0,0,1
36424,0,0,0,0,0,0,1

In [22]:
# 데이터 프레임에 추가
train_df['race_Arab']= race_onehot['race_Arab']
train_df['race_Asian']= race_onehot['race_Asian']
train_df['race_Black']= race_onehot['race_Black']
train_df['race_Indigenous Australian']= race_onehot['race_Indigenous Australian']
train_df['race_Native American']= race_onehot['race_Native American']
train_df['race_Other']= race_onehot['race_Other']
train_df['race_White']= race_onehot['race_White']
train_df

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,wr_11,wr_12,wr_13,race_Arab,race_Asian,race_Black,race_Indigenous Australian,race_Native American,race_Other,race_White
0,43375,1.0,324,5.0,1067,5.0,359,1.0,709,1.0,...,0,1,1,0,0,0,0,0,0,1
1,4486,1.0,534,5.0,1555,5.0,2024,1.0,1097,1.0,...,0,1,1,0,1,0,0,0,0,0
2,10262,5.0,609,1.0,749,2.0,624,1.0,1833,3.0,...,0,1,0,0,0,0,0,0,0,1
3,14088,4.0,182,1.0,2969,1.0,1955,4.0,4630,1.0,...,0,1,1,0,0,0,0,0,1,0
4,13398,4.0,549,5.0,1679,5.0,481,3.0,595,1.0,...,1,1,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36420,16511,1.0,312,5.0,965,5.0,499,1.0,1188,1.0,...,1,1,1,0,0,1,0,0,0,0
36421,33507,3.0,474,4.0,1033,5.0,602,2.0,703,1.0,...,1,1,1,0,0,0,0,0,0,1
36422,44917,2.0,617,4.0,1262,2.0,709,1.0,1063,2.0,...,1,1,1,0,0,0,0,0,0,1
36423,36126,5.0,294,1.0,985,1.0,504,3.0,613,5.0,...,1,1,1,0,0,0,0,0,0,1
36424,42340,3.0,1062,1.0,3111,2.0,899,1.0,1876,3.0,...,1,1,1,0,0,0,0,0,0,1

In [23]:
# 인종 투표 참여도
pd.DataFrame(train_df.groupby(['race_Arab','race_Asian','race_Black','race_Indigenous Australian', 'race_Native American', 'race_Other', 'race_White','voted'])['voted'].count())

                                                                                                             voted
race_Arab race_Asian race_Black race_Indigenous Australian race_Native American race_Other race_White voted
0         0          0          0                          0                    0          1          0      12427
                                                                                                      1      12615
                                                                                1          0          0       2158
                                                                                                      1       1304
                                                           1                    0          0          0        255
                                                                                                      1        179
                                1                          0                    0          0          0         26
                                                                                                      1         15
                     1          0                          0                    0          0          0       1019
                                                                                                      1        689
          1          0          0                          0                    0          0          0       3840
                                                                                                      1       1626
1         0          0          0                          0                    0          0          0        193
                                                                                                      1         79

In [24]:
train_df['race_Arab'].value_counts()

0    36153
1      272
Name: race_Arab, dtype: int64

In [25]:
# religion
vote_religion = train_df['religion']
vote_religion

0        Christian_Catholic
1                     Hindu
2           Christian_Other
3                     Hindu
4                     Other
                ...
36420                 Other
36421                Jewish
36422              Agnostic
36423                 Other
36424                 Other
Name: religion, Length: 36425, dtype: object

In [26]:
# 종교 수 
vote_religion.value_counts()

Atheist                 8139
Agnostic                7736
Christian_Catholic      5131
Christian_Other         4072
Christian_Protestant    3908
Other                   3857
Hindu                   1151
Muslim                   928
Buddhist                 674
Jewish                   402
Christian_Mormon         332
Sikh                      95
Name: religion, dtype: int64

In [27]:
# religion 원-핫인코딩
import pandas as pd

df = pd.DataFrame({'religion':vote_religion})
religion_onehot = pd.get_dummies(df)
religion_onehot

,religion_Agnostic,religion_Atheist,religion_Buddhist,religion_Christian_Catholic,religion_Christian_Mormon,religion_Christian_Other,religion_Christian_Protestant,religion_Hindu,religion_Jewish,religion_Muslim,religion_Other,religion_Sikh
0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
36420,0,0,0,0,0,0,0,0,0,0,1,0
36421,0,0,0,0,0,0,0,0,1,0,0,0
36422,1,0,0,0,0,0,0,0,0,0,0,0
36423,0,0,0,0,0,0,0,0,0,0,1,0
36424,0,0,0,0,0,0,0,0,0,0,1,0

In [28]:
# 데이터 프레임에 추가
train_df['religion_Agnostic']= religion_onehot['religion_Agnostic']
train_df['religion_Atheist']= religion_onehot['religion_Atheist']
train_df['religion_Buddhist']= religion_onehot['religion_Buddhist']
train_df['religion_Christian_Catholic']= religion_onehot['religion_Christian_Catholic']
train_df['religion_Christian_Mormon']= religion_onehot['religion_Christian_Mormon']
train_df['religion_Christian_Protestant']= religion_onehot['religion_Christian_Protestant']
train_df['religion_Christian_Other']= religion_onehot['religion_Christian_Other']
train_df['religion_Hindu']= religion_onehot['religion_Hindu']
train_df['religion_Jewish']= religion_onehot['religion_Jewish']
train_df['religion_Muslim']= religion_onehot['religion_Muslim']
train_df['religion_Sikh']= religion_onehot['religion_Sikh']
train_df['religion_Other']= religion_onehot['religion_Other']


train_df

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,religion_Buddhist,religion_Christian_Catholic,religion_Christian_Mormon,religion_Christian_Protestant,religion_Christian_Other,religion_Hindu,religion_Jewish,religion_Muslim,religion_Sikh,religion_Other
0,43375,1.0,324,5.0,1067,5.0,359,1.0,709,1.0,...,0,1,0,0,0,0,0,0,0,0
1,4486,1.0,534,5.0,1555,5.0,2024,1.0,1097,1.0,...,0,0,0,0,0,1,0,0,0,0
2,10262,5.0,609,1.0,749,2.0,624,1.0,1833,3.0,...,0,0,0,0,1,0,0,0,0,0
3,14088,4.0,182,1.0,2969,1.0,1955,4.0,4630,1.0,...,0,0,0,0,0,1,0,0,0,0
4,13398,4.0,549,5.0,1679,5.0,481,3.0,595,1.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36420,16511,1.0,312,5.0,965,5.0,499,1.0,1188,1.0,...,0,0,0,0,0,0,0,0,0,1
36421,33507,3.0,474,4.0,1033,5.0,602,2.0,703,1.0,...,0,0,0,0,0,0,1,0,0,0
36422,44917,2.0,617,4.0,1262,2.0,709,1.0,1063,2.0,...,0,0,0,0,0,0,0,0,0,0
36423,36126,5.0,294,1.0,985,1.0,504,3.0,613,5.0,...,0,0,0,0,0,0,0,0,0,1
36424,42340,3.0,1062,1.0,3111,2.0,899,1.0,1876,3.0,...,0,0,0,0,0,0,0,0,0,1

In [29]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36425 entries, 0 to 36424
Data columns (total 97 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   index                          36425 non-null  int64
 1   QaA                            36425 non-null  float64
 2   QaE                            36425 non-null  int64
 3   QbA                            36425 non-null  float64
 4   QbE                            36425 non-null  int64
 5   QcA                            36425 non-null  float64
 6   QcE                            36425 non-null  int64
 7   QdA                            36425 non-null  float64
 8   QdE                            36425 non-null  int64
 9   QeA                            36425 non-null  float64
 10  QeE                            36425 non-null  int64
 11  QfA                            36425 non-null  float64
 12  QfE                            36425 non-null  int64
 13  QgA                            36425 non-null  float64
 14  QgE                            36425 non-null  int64
 15  QhA                            36425 non-null  float64
 16  QhE                            36425 non-null  int64
 17  QiA                            36425 non-null  float64
 18  QiE                            36425 non-null  int64
 19  QjA                            36425 non-null  float64
 20  QjE                            36425 non-null  int64
 21  QkA                            36425 non-null  float64
 22  QkE                            36425 non-null  int64
 23  QlA                            36425 non-null  float64
 24  QlE                            36425 non-null  int64
 25  QmA                            36425 non-null  float64
 26  QmE                            36425 non-null  int64
 27  QnA                            36425 non-null  float64
 28  QnE                            36425 non-null  int64
 29  QoA                            36425 non-null  float64
 30  QoE                            36425 non-null  int64
 31  QpA                            36425 non-null  float64
 32  QpE                            36425 non-null  int64
 33  QqA                            36425 non-null  float64
 34  QqE                            36425 non-null  int64
 35  QrA                            36425 non-null  float64
 36  QrE                            36425 non-null  int64
 37  QsA                            36425 non-null  float64
 38  QsE                            36425 non-null  int64
 39  QtA                            36425 non-null  float64
 40  QtE                            36425 non-null  int64
 41  age_group                      36425 non-null  int64
 42  education                      36425 non-null  int64
 43  engnat                         36425 non-null  int64
 44  familysize                     36425 non-null  int64
 45  gender                         36425 non-null  int32
 46  hand                           36425 non-null  int64
 47  married                        36425 non-null  int64
 48  race                           36425 non-null  object
 49  religion                       36425 non-null  object
 50  tp01                           36425 non-null  int64
 51  tp02                           36425 non-null  int64
 52  tp03                           36425 non-null  int64
 53  tp04                           36425 non-null  int64
 54  tp05                           36425 non-null  int64
 55  tp06                           36425 non-null  int64
 56  tp07                           36425 non-null  int64
 57  tp08                           36425 non-null  int64
 58  tp09                           36425 non-null  int64
 59  tp10                           36425 non-null  int64
 60  urban                          36425 non-null  int64
 61  voted                          36425 non-null  int64
 62  wf_01                          36425 non-null  int64
 63  wf_02                          36425 non-null  int64
 64  wf_03                          36425 non-null  int64
 65  wr_01                          36425 non-null  int64
 66  wr_02                          36425 non-null  int64
 67  wr_03                          36425 non-null  int64
 68  wr_04                          36425 non-null  int64
 69  wr_05                          36425 non-null  int64
 70  wr_06                          36425 non-null  int64
 71  wr_07                          36425 non-null  int64
 72  wr_08                          36425 non-null  int64
 73  wr_09                          36425 non-null  int64
 74  wr_10                          36425 non-null  int64
 75  wr_11                          36425 non-null  int64
 76  wr_12                          36425 non-null  int64
 77  wr_13                          36425 non-null  int64
 78  race_Arab                      36425 non-null  uint8
 79  race_Asian                     36425 non-null  uint8
 80  race_Black                     36425 non-null  uint8
 81  race_Indigenous Australian     36425 non-null  uint8
 82  race_Native American           36425 non-null  uint8
 83  race_Other                     36425 non-null  uint8
 84  race_White                     36425 non-null  uint8
 85  religion_Agnostic              36425 non-null  uint8
 86  religion_Atheist               36425 non-null  uint8
 87  religion_Buddhist              36425 non-null  uint8
 88  religion_Christian_Catholic    36425 non-null  uint8
 89  religion_Christian_Mormon      36425 non-null  uint8
 90  religion_Christian_Protestant  36425 non-null  uint8
 91  religion_Christian_Other       36425 non-null  uint8
 92  religion_Hindu                 36425 non-null  uint8
 93  religion_Jewish                36425 non-null  uint8
 94  religion_Muslim                36425 non-null  uint8
 95  religion_Sikh                  36425 non-null  uint8
 96  religion_Other                 36425 non-null  uint8
dtypes: float64(20), int32(1), int64(55), object(2), uint8(19)
memory usage: 22.2+ MB

In [30]:
# race_custom_DataFrame
vote_ex_list = {}
vote_ex_df = pd.DataFrame(vote_ex_list)

vote_ex_df['age_group'] = train_df['age_group']
vote_ex_df['education'] = train_df['education']
vote_ex_df['engnat'] = train_df['engnat']
vote_ex_df['familysize'] = train_df['familysize']
vote_ex_df['gender'] = train_df['gender']
vote_ex_df['hand'] = train_df['hand']
vote_ex_df['married'] = train_df['married']
vote_ex_df['race_Arab']= race_onehot['race_Arab']
vote_ex_df['race_Asian']= race_onehot['race_Asian']
vote_ex_df['race_Black']= race_onehot['race_Black']
vote_ex_df['race_Indigenous Australian']= race_onehot['race_Indigenous Australian']
vote_ex_df['race_Native American']= race_onehot['race_Native American']
vote_ex_df['race_Other']= race_onehot['race_Other']
vote_ex_df['race_White']= race_onehot['race_White']
vote_ex_df['religion_Agnostic']= religion_onehot['religion_Agnostic']
vote_ex_df['religion_Atheist']= religion_onehot['religion_Atheist']
vote_ex_df['religion_Buddhist']= religion_onehot['religion_Buddhist']
vote_ex_df['religion_Christian_Catholic']= religion_onehot['religion_Christian_Catholic']
vote_ex_df['religion_Christian_Mormon']= religion_onehot['religion_Christian_Mormon']
vote_ex_df['religion_Christian_Protestant']= religion_onehot['religion_Christian_Protestant']
vote_ex_df['religion_Christian_Other']= religion_onehot['religion_Christian_Other']
vote_ex_df['religion_Hindu']= religion_onehot['religion_Hindu']
vote_ex_df['religion_Jewish']= religion_onehot['religion_Jewish']
vote_ex_df['religion_Muslim']= religion_onehot['religion_Muslim']
vote_ex_df['religion_Sikh']= religion_onehot['religion_Sikh']
vote_ex_df['religion_Other']= religion_onehot['religion_Other']
vote_ex_df['voted'] = train_df['voted']

vote_ex_df

,age_group,education,engnat,familysize,gender,hand,married,race_Arab,race_Asian,race_Black,...,religion_Christian_Catholic,religion_Christian_Mormon,religion_Christian_Protestant,religion_Christian_Other,religion_Hindu,religion_Jewish,religion_Muslim,religion_Sikh,religion_Other,voted
0,20,3,1,2,1,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1,10,2,2,4,1,1,1,0,1,0,...,0,0,0,0,1,0,0,0,0,1
2,20,2,1,3,0,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,10,3,2,3,1,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,20,2,1,4,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36420,20,2,1,6,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,1,1
36421,10,1,2,4,1,3,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
36422,30,4,1,6,1,1,2,0,0,0,...,0,0,0,0,0,0,0,0,0,1
36423,40,4,1,4,0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
36424,50,4,1,3,0,1,3,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [31]:
vote_ex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36425 entries, 0 to 36424
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age_group                      36425 non-null  int64
 1   education                      36425 non-null  int64
 2   engnat                         36425 non-null  int64
 3   familysize                     36425 non-null  int64
 4   gender                         36425 non-null  int32
 5   hand                           36425 non-null  int64
 6   married                        36425 non-null  int64
 7   race_Arab                      36425 non-null  uint8
 8   race_Asian                     36425 non-null  uint8
 9   race_Black                     36425 non-null  uint8
 10  race_Indigenous Australian     36425 non-null  uint8
 11  race_Native American           36425 non-null  uint8
 12  race_Other                     36425 non-null  uint8
 13  race_White                     36425 non-null  uint8
 14  religion_Agnostic              36425 non-null  uint8
 15  religion_Atheist               36425 non-null  uint8
 16  religion_Buddhist              36425 non-null  uint8
 17  religion_Christian_Catholic    36425 non-null  uint8
 18  religion_Christian_Mormon      36425 non-null  uint8
 19  religion_Christian_Protestant  36425 non-null  uint8
 20  religion_Christian_Other       36425 non-null  uint8
 21  religion_Hindu                 36425 non-null  uint8
 22  religion_Jewish                36425 non-null  uint8
 23  religion_Muslim                36425 non-null  uint8
 24  religion_Sikh                  36425 non-null  uint8
 25  religion_Other                 36425 non-null  uint8
 26  voted                          36425 non-null  int64
dtypes: int32(1), int64(7), uint8(19)
memory usage: 2.7 MB

# 모델구현 - train_df

In [32]:
import xgboost as xgb
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.ensemble import GradientBoostingClassifier
import warnings
warnings.filterwarnings('ignore')


X = vote_ex_df.iloc[:, :-1]
y = vote_ex_df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0, stratify=y)
print(X_train.shape, X_test.shape)

(29140, 26) (7285, 26)

In [98]:
def get_clf_eval(y_test, pred=None, pred_proba=None):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    f1 = f1_score(y_test, pred)
    
    roc_auc = roc_auc_score(y_test, pred_proba)
    print('오차행렬')
    print(confusion)
    print('정확도: {0:.4f}, 정밀도: {1:.4f}, 재현율: {2:.4f},\
    F1: {3:.4f}, AUC: {4:.4f}'.format(accuracy, precision, recall, f1, roc_auc))

    
def get_clf_eval1(y_test, pred=None):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    f1 = f1_score(y_test, pred)
    print('오차행렬')
    print(confusion)
    print('정확도: {0:.4f}, 정밀도: {1:.4f}, 재현율: {2:.4f}, F1: {3:.4f}'.format(accuracy, precision, recall, f1))

In [54]:
dt_clf = DecisionTreeClassifier(random_state=0)
parameters = {'max_depth':[1,2,3,4,5,6,7,8,9,10], 'min_samples_split':[2,4,6,8,10]}
grid_dt_clf = GridSearchCV(dt_clf, param_grid=parameters, scoring='f1', cv=5, refit= True)
grid_dt_clf.fit(X_train, y_train)

scores_df = pd.DataFrame(grid_dt_clf.cv_results_)
scores_df[['params', 'mean_test_score', 'rank_test_score', 'split0_test_score', 'split1_test_score', 'split2_test_score', 'split3_test_score', 'split4_test_score']]

,params,mean_test_score,rank_test_score,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score
0,"{'max_depth': 1, 'min_samples_split': 2}",0.704371,1,0.701151,0.705740,0.700418,0.705423,0.709124
1,"{'max_depth': 1, 'min_samples_split': 4}",0.704371,1,0.701151,0.705740,0.700418,0.705423,0.709124
2,"{'max_depth': 1, 'min_samples_split': 6}",0.704371,1,0.701151,0.705740,0.700418,0.705423,0.709124
3,"{'max_depth': 1, 'min_samples_split': 8}",0.704371,1,0.701151,0.705740,0.700418,0.705423,0.709124
4,"{'max_depth': 1, 'min_samples_split': 10}",0.704371,1,0.701151,0.705740,0.700418,0.705423,0.709124
5,"{'max_depth': 2, 'min_samples_split': 2}",0.673134,46,0.685435,0.694266,0.688253,0.639107,0.658607
6,"{'max_depth': 2, 'min_samples_split': 4}",0.673134,46,0.685435,0.694266,0.688253,0.639107,0.658607
7,"{'max_depth': 2, 'min_samples_split': 6}",0.673134,46,0.685435,0.694266,0.688253,0.639107,0.658607
8,"{'max_depth': 2, 'min_samples_split': 8}",0.673134,46,0.685435,0.694266,0.688253,0.639107,0.658607
9,"{'max_depth': 2, 'min_samples_split': 10}",0.673134,46,0.685435,0.694266,0.688253,0.639107,0.658607
10,"{'max_depth': 3, 'min_samples_split': 2}",0.681248,41,0.685435,0.694266,0.688029,0.659691,0.678819
11,"{'max_depth': 3, 'min_samples_split': 4}",0.681248,41,0.685435,0.694266,0.688029,0.659691,0.678819
12,"{'max_depth': 3, 'min_samples_split': 6}",0.681248,41,0.685435,0.694266,0.688029,0.659691,0.678819
13,"{'max_depth': 3, 'min_samples_split': 8}",0.681248,41,0.685435,0.694266,0.688029,0.659691,0.678819
14,"{'max_depth': 3, 'min_samples_split': 10}",0.681248,41,0.685435,0.694266,0.688029,0.659691,0.678819
15,"{'max_depth': 4, 'min_samples_split': 2}",0.692142,26,0.692689,0.716292,0.674732,0.664910,0.712085
16,"{'max_depth': 4, 'min_samples_split': 4}",0.692142,26,0.692689,0.716292,0.674732,0.664910,0.712085
17,"{'max_depth': 4, 'min_samples_split': 6}",0.692142,26,0.692689,0.716292,0.674732,0.664910,0.712085
18,"{'max_depth': 4, 'min_samples_split': 8}",0.692142,26,0.692689,0.716292,0.674732,0.664910,0.712085
19,"{'max_depth': 4, 'min_samples_split': 10}",0.692142,26,0.692689,0.716292,0.674732,0.664910,0.712085
20,"{'max_depth': 5, 'min_samples_split': 2}",0.699549,11,0.702334,0.710699,0.710095,0.665242,0.709378
21,"{'max_depth': 5, 'min_samples_split': 4}",0.699549,11,0.702334,0.710699,0.710095,0.665242,0.709378
22,"{'max_depth': 5, 'min_samples_split': 6}",0.699549,11,0.702334,0.710699,0.710095,0.665242,0.709378
23,"{'max_depth': 5, 'min_samples_split': 8}",0.699549,11,0.702334,0.710699,0.710095,0.665242,0.709378
24,"{'max_depth': 5, 'min_samples_split': 10}",0.699549,11,0.702334,0.710699,0.710095,0.665242,0.709378
25,"{'max_depth': 6, 'min_samples_split': 2}",0.702652,8,0.700209,0.707422,0.705153,0.691815,0.708659
26,"{'max_depth': 6, 'min_samples_split': 4}",0.702652,8,0.700209,0.707422,0.705153,0.691815,0.708659
27,"{'max_depth': 6, 'min_samples_split': 6}",0.702652,8,0.700209,0.707422,0.705153,0.691815,0.708659
28,"{'max_depth': 6, 'min_samples_split': 8}",0.702675,6,0.700209,0.707422,0.705153,0.691932,0.708659
29,"{'max_depth': 6, 'min_samples_split': 10}",0.702675,6,0.700209,0.707422,0.705153,0.691932,0.708659
30,"{'max_depth': 7, 'min_samples_split': 2}",0.696554,18,0.693312,0.709551,0.700852,0.677190,0.701866
31,"{'max_depth': 7, 'min_samples_split': 4}",0.696310,22,0.693312,0.709340,0.701086,0.675944,0.701866
32,"{'max_depth': 7, 'min_samples_split': 6}",0.696446,19,0.693312,0.709572,0.701537,0.675944,0.701866
33,"{'max_depth': 7, 'min_samples_split': 8}",0.696626,17,0.693312,0.709783,0.701303,0.676864,0.701866
34,"{'max_depth': 7, 'min_samples_split': 10}",0.696630,16,0.693312,0.709804,0.701303,0.676864,0.701866
35,"{'max_depth': 8, 'min_samples_split': 2}",0.696001,25,0.693105,0.704456,0.698000,0.690062,0.694382
36,"{'max_depth': 8, 'min_samples_split': 4}",0.696065,24,0.693219,0.704110,0.698233,0.690143,0.694621
37,"{'max_depth': 8, 'min_samples_split': 6}",0.696208,23,0.693219,0.704572,0.699000,0.689853,0.694397
38,"{'max_depth': 8, 'min_samples_split': 8}",0.696310,21,0.693219,0.704341,0.699100,0.690376,0.694516
39,"{'max_depth': 8, 'min_samples_split': 10}",0.696398,20,0.693676,0.704668,0.698651,0.690597,0.694397
40,"{'max_depth': 9, 'min_samples_split': 2}",0.687630,33,0.690571,0.703107,0.683553,0.661322,0.699595
41,"{'max_depth': 9, 'min_samples_split': 4}",0.687789,31,0.690776,0.702891,0.683790,0.661437,0.700051
42,"{'max_depth': 9, 'min_samples_split': 6}",0.687727,32,0.690800,0.703519,0.684366,0.661198,0.698750
43,"{'max_depth': 9, 'min_samples_split': 8}",0.687429,34,0.690445,0.703402,0.683900,0.659871,0.699527
44,"{'max_depth': 9, 'min_samples_split': 10}",0.687284,35,0.690674,0.703402,0.683663,0.659270,0.699409
45,"{'max_depth': 10, 'min_samples_split': 2}",0.683367,37,0.681444,0.704099,0.679047,0.660740,0.691506
46,"{'max_depth': 10, 'min_samples_split': 4}",0.683174,40,0.681788,0.703407,0.679523,0.658949,0.692202
47,"{'max_depth': 10, 'min_samples_split': 6}",0.683590,36,0.682468,0.703506,0.679073,0.659779,0.693124
48,"{'max_depth': 10, 'min_samples_split': 8}",0.683206,39,0.681566,0.702468,0.679060,0.660011,0.692927
49,"{'max_depth': 10, 'min_samples_split': 10}",0.683348,38,0.682025,0.703063,0.679516,0.660132,0.692005

In [57]:
print('GridSearchCV 최적 파라미터:', grid_dt_clf.best_params_)
print('GridSearchCV 최고 f1:{0:.4f}'.format(grid_dt_clf.best_score_))

GridSearchCV 최적 파라미터: {'max_depth': 1, 'min_samples_split': 2}
GridSearchCV 최고 f1:0.7044

In [101]:
dt_clf = DecisionTreeClassifier(max_depth = 1, min_samples_split=2, random_state=0)
dt_clf.fit(X_train, y_train)
pred = dt_clf.predict(X_test)
pred_proba = dt_clf.predict_proba(X_test)[:,1]
get_clf_eval(y_test, pred, pred_proba)

오차행렬
[[1897 2087]
 [ 349 2952]]
정확도: 0.6656, 정밀도: 0.5858, 재현율: 0.8943, F1: 0.7079
오차행렬
[[1897 2087]
 [ 349 2952]]
정확도: 0.6656, 정밀도: 0.5858, 재현율: 0.8943,    F1: 0.7079, AUC: 0.6852

In [ ]:
rf_clf = RandomForestClassifier(random_state=0)
parameters = {'min_samples_split':[2,4,6,8,10], 'n_estimators':[100,300,500,700,900]}
grid_rf_clf = GridSearchCV(rf_clf, param_grid=parameters, scoring='f1', cv=5, refit= True)
grid_rf_clf.fit(X_train, y_train)

scores_df = pd.DataFrame(grid_rf_clf.cv_results_)
scores_df[['params', 'mean_test_score', 'rank_test_score', 'split0_test_score', 'split1_test_score', 'split2_test_score', 'split3_test_score', 'split4_test_score']]

In [ ]:
print('GridSearchCV 최적 파라미터:', grid_rf_clf.best_params_)
print('GridSearchCV 최고 정확도:{0:.4f}'.format(grid_rf_clf.best_score_))

In [ ]:
rf_clf = RandomForestClassifier(min_samples_split=10, n_estimators=300,random_state=0)
rf_clf.fit(X_train, y_train)
pred = rf_clf.predict(X_test)
pred_proba = rf_clf.predict_proba(X_test)[:,1]
get_clf_eval(y_test, pred, pred_proba)

In [ ]:
gb_clf = GradientBoostingClassifier(random_state=0)
gb_clf.fit(X_train, y_train)
pred = gb_clf.predict(X_test)
pred_proba = gb_clf.predict_proba(X_test)[:,1]
get_clf_eval(y_test, pred, pred_proba)

In [ ]:
xgb_clf = XGBClassifier(n_estimators=400, learning_rate=0.1, max_depth=3)
evals = [(X_test, y_test)]
xgb_clf.fit(X_train, y_train, early_stopping_rounds=100, eval_metric ='logloss', eval_set=evals, verbose=True)
pred = xgb_clf.predict(X_test)
pred_proba = xgb_clf.predict_proba(X_test)[:,1]
get_clf_eval(y_test, pred, pred_proba)

In [ ]:
lgbm_clf = LGBMClassifier(n_estimators=400)
evals = [(X_test, y_test)]
lgbm_clf.fit(X_train, y_train, early_stopping_rounds=100, eval_metric ='auc', eval_set=evals, verbose=True)
pred = lgbm_clf.predict(X_test)
pred_proba = lgbm_clf.predict_proba(X_test)[:,1]
get_clf_eval(y_test, pred, pred_proba)